<?php
/** @var $block Compare */
/** @var \OX\AjaxAddtoCompare\ViewModel\AjaxCompareStatus $ajaxCompareviewModel */


use Magento\Catalog\Block\Product\View\Addto\Compare;

?>
<?php $ajaxCompareviewModel = $block->getData('moduleStatusViewModel'); ?>
<?php $viewModel = $block->getData('addToCompareViewModel'); ?>
<?php if ($viewModel->isAvailableForCompare($block->getProduct())): ?>
    <?php if ($ajaxCompareviewModel->moduleStatus()): ?>
        <!-- ko scope: 'ajaxcompare' -->

        <a
            data-bind="css:{compareicon : compareItems().itemIds
         ?typeof compareItems().itemIds[<?=
        /* @noEscape */$block->getProduct()->getId()?>]!='undefined':false}"
           data-role="add-to-links"
           data-action="compare-actions"
           data-product-id="<?=/* @noEscape */ $block->getProduct()->getId() ?>"
           class="action tocompare"><span><?= $block->escapeHtml(__('Add to Compare')) ?></span></a>
        <!-- /ko -->


    <?php else: ?>
        <a href="#" data-post='<?= /* @noEscape */
        $block->getPostDataParams() ?>'
           data-role="add-to-links"
           class="action tocompare"><span><?= $block->escapeHtml(__('Add to Compare')) ?></span></a>
    <?php endif; ?>

<?php endif; ?>

