<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block Magento\Catalog\Block\Product\ProductList\Item\AddTo\Compare */
/** @var \OX\AjaxAddtoCompare\ViewModel\AjaxCompareStatus $viewModel */

?>
<?php $viewModel = $block->getData('moduleStatusViewModel'); ?>
<?php if ($viewModel->moduleStatus()): ?>
<!-- ko scope: 'ajaxcompare' -->

<a
   class="action tocompare"
   data-bind="css:{compareicon : compareItems().itemIds
         ?typeof compareItems().itemIds[<?=
   /* @noEscape */$block->getProduct()->getId()?>]!='undefined':false}"
   title="<?= $block->escapeHtml(__('Add to Compare')) ?>"
   aria-label="<?= $block->escapeHtml(__('Add to Compare')) ?>"
   data-action="compare-actions"
   data-product-id="<?=/* @noEscape */ $block->getProduct()->getId() ?>"
   role="button">
    <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
</a>
    <!-- /ko -->

<?php else: ?>
    <a href="#"
       class="action tocompare"
       title="<?= $block->escapeHtml(__('Add to Compare')) ?>"
       aria-label="<?= $block->escapeHtml(__('Add to Compare')) ?>"
       data-post='<?= /* @noEscape */ $block->getCompareHelper()->getPostDataParams($block->getProduct()) ?>'
       role="button">
        <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
    </a>

<?php endif; ?>

